.skills {
  text-align: left;
  padding: 2rem 0;
  // height: 80vh;
  margin-top: 3rem;
  margin-bottom: 8rem;

  .pattern-right {
    position: absolute;
    right: 0;
    z-index: 1;
  }

  .pattern-left {
    position: absolute;
    left: 0;
    z-index: 1;
  }
  .skills-head {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    z-index: 5;
  }

  .skills-subhead {
    font-size: 1.5rem;
    z-index: 5;
  }

  .section {
    z-index: 5;
    margin-top: 2rem;

    .sec-head {
      font-weight: bold;
      margin-bottom: 1rem;
    }
    .skill-icons {
      display: flex;
      width: fit-content;
      max-width: 80%;
      flex-wrap: wrap;

      .skill-icon {
        margin-right: 2rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .skill-icon-label {
          font-weight: bold;
          margin-top: 10px;
          opacity: 0.7;
        }

        .skill-icon-img {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .skills {
    padding: 2rem;
    text-align: center;
    height: fit-content;

    .pattern-left,
    .pattern-right {
      display: none;
    }

    .skills-head {
      font-size: 2.5rem;
    }

    .skills-subhead {
      font-size: 1.2rem;
    }

    .section {
      .skill-icons {
        margin: auto;
      }
    }
  }
}
